*.iml
.gradle
*/local.properties
*/.idea/libraries
*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/*
*/.DS_Store
/build
/captures
.externalNativeBuild
*.idea
Demo/app/build
TUIKit/*/*/build
/TUIKit/IMCppSDK/imcppsdk/.cxx
/Demo/app/src/main/java/com/tencent/qcloud/tim/demo/signature/GenerateTestUserSig.java
